@use '../../../styles/utils/mixins' as *;
@use '../../../styles/base/variables' as *;

.card {
  display: grid;
  gap: 1.375rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba($color-white, $alpha: 0.1);
  backdrop-filter: blur(1.5625rem);
  text-align: start;
  max-width: 24.875rem;
  margin: 0 auto;

  &__cover {
    width: 100%;
    height: 13.875rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
  }

  &__title {
    @include text(xl);
    @include line-clamp(1);
  }

  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'avatar description'
      'avatar subtitle';
    align-items: center;
    gap: 0 0.5rem;
    font-weight: 500;
  }

  &__avatar {
    grid-area: avatar;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 100%;
  }

  &__description {
    @include text(base);
    @include line-clamp(1);
  }

  &__subtitle {
    @include text(sm);
  }

  &__button {
    background-size: cover;
  }

  @media screen and (min-width: $screen-md) {
    &__cover {
      height: 16.5rem;
    }

    &__title {
      @include text(2xl);
    }

    &__description {
      @include text(lg);
    }
  }
}
