// SCREENS
$screen-xsm: 480px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

// COLORS
$color-white: #fff;
$color-black: #000;

$color-violet-50: #f4f4fe;
$color-violet-100: #ebebfc;
$color-violet-200: #dbdbf9;
$color-violet-300: #c0bdf5;
$color-violet-400: #a098ed;
$color-violet-500: #7f6de5;
$color-violet-600: #6b4ed9;
$color-violet-700: #5b3cc5;
$color-violet-800: #4d32a5;
$color-violet-900: #402b87;
$color-violet-950: #2d1e6b;

$color-pink-50: #fef2f2;
$color-pink-100: #ffe1e1;
$color-pink-200: #ffc8c8;
$color-pink-300: #ff8b8b;
$color-pink-400: #fd6c6c;
$color-pink-500: #f53e3e;
$color-pink-600: #e22020;
$color-pink-700: #be1717;
$color-pink-800: #9d1717;
$color-pink-900: #821a1a;
$color-pink-950: #470808;

$color-gray-50: #f6f6f7;
$color-gray-100: #efeff0;
$color-gray-200: #e1e1e4;
$color-gray-300: #d4d4d8;
$color-gray-400: #b9b9c0;
$color-gray-500: #a7a6ae;
$color-gray-600: #94919a;
$color-gray-700: #7f7d85;
$color-gray-800: #68676c;
$color-gray-900: #56555a;
$color-gray-950: #323234;

// SCROLL CUSTOM
$sb-track-color: $color-violet-950;
$sb-thumb-color: $color-white;
$sb-size: 0.3125rem;
